.question-contents:nth-child(1n + 2) {
  display: none;
}

.has-error h2 {
  color: #a94442;
  font-weight: bold;
}

#design, #php, #c, #ruby, #java, #design-caveat {
  display: none;
}

.result div {
  align-items: center;
}
